<?xml version="1.0"?>
<launch>

  <arg name="manager"             default="realsense2_camera_manager"/>
  <arg name="target_frame"        default="base_link" /> <!-- TODO: check the one of the whelchair -->
  <arg name="cloud_in1"           default="/camera_left/depth/points" />
  <arg name="cloud_in2"           default="/camera_rigth/depth/points" />
  <arg name="cloud_out"           default="/camera/cloud_concatenated" />
  <arg name="tf_prefix_left"      default="camera_left"/>
  <arg name="tf_prefix_right"     default="camera_right"/>
  <arg name="clip_distance"       default="3"/>
  <arg name="external_manager"    default="false"/>
  <arg name="enable_pointcloud"   default="true"/>
  <arg name="hz"                  default="30"/>

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <!-- Cemera left -->
  <include ns="camera" file="$(find trav_analysis_2)/launch/custom_rs_rgbd.launch"> 
    <arg name="enable_pointcloud"   value="$(arg enable_pointcloud)"/>
    <arg name="clip_distance"       value="$(arg clip_distance)"/>
    <arg name="manager"             value="$(arg manager)"/>
    <arg name="external_manager"    value="$(arg external_manager)"/>
    <arg name="ordered_pc"          value="true" />
    <arg name="serial_no"           value="053422251600"/>
    <arg name="tf_prefix"           value="$(arg tf_prefix_left)"/>
    <remap from="/camera/camera/depth/color/points" to="$(arg cloud_in1)"/>
  </include> 

  <!-- Cemera rigth -->
  <include ns="camera" file="$(find trav_analysis_2)/launch/custom_rs_rgbd.launch"> 
    <arg name="enable_pointcloud"   value="$(arg enable_pointcloud)"/>
    <arg name="clip_distance"       value="$(arg clip_distance)"/>
    <arg name="manager"             value="$(arg manager)"/>
    <arg name="external_manager"    value="$(arg external_manager)"/>
    <arg name="ordered_pc"          value="true" />
    <arg name="serial_no"           value="233722071054"/>
    <arg name="tf_prefix"           value="$(arg tf_prefix_rigth)"/>
    <remap from="/camera/camera/depth/color/points" to="$(arg cloud_in2)"/>
  </include>

  <!-- TODO: need to use the calibrated tf -->
  <!-- Fusion of the sensors -->
  <node pkg="pointcloud_concatenate" type="pointcloud_concatenate_node" name="pc_concat" output="screen">
    <param name="target_frame"      value="$(arg target_frame)" />    
    <param name="clouds"            value="2" />
    <param name="hz"                value="$(arg hz)" />
    <remap from="cloud_in1" to="$(arg cloud_in1)" />
    <remap from="cloud_in2" to="$(arg cloud_in2)" />
    <remap from="cloud_out" to="$(arg cloud_out)" />
  </node>

  <!-- Processing plus the traversability -->
  <group ns="camera">
    <group ns="camera">
  
      <!-- todo move this to nodelet -->
      <node pkg="ema_pc" type="ema_pc" name="ema_pc" output="screen">
        <remap from="pc_input"  to="$(arg cloud_out)" />
        <remap from="pc_output" to="/ema_pc/points" />
        <param name="ema_coeff" value="0.9" />
        <param name="hz"        value="$(arg hz)" />
      </node> 
    
      <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
      <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid $(arg manager)" output="screen">
        <remap from="~input" to="/ema_pc/points" />
        <rosparam>
          filter_field_name: z
          filter_limit_min: 0.5
          filter_limit_max: 3
          filter_limit_negative: False
          leaf_size: 0.025
        </rosparam>
      </node> 

      <node name="plane_fitter" type="check_planarity" pkg="plane_fitter" output="screen">
        <remap from="/sense3d/scan"   to="/camera/camera/voxel_grid/output"/>
        <param name="_min_percentage" value="2" />
      </node>

      
      <!-- <node pkg="road_pcl" type="road_pcl" name="road_pcl">
        <param name="topicName" value="/voxel_grid/output" />
        <param name="maxIter" value="1000" />
        <param name="leafSize" value="0.05" />
        <param name="distanceThresh" value="0.05" />
        <remap from="/roadpcl" to="/roadpcl" />
      </node>  -->
    
      <node pkg="nodelet" type="nodelet" name="traversability" args="load trav_analysis_2/Trav $(arg manager) false">
        <remap from="/visual/pointcloud" to="/camera/camera/plane_fitter/inliers" />
        <param name="load_path"          value="$(find trav_analysis_2)/models/results00" />
      </node>

    </group>
  </group>

  <!--  old to remove -->
  <!--<node pkg="trav_analysis_2" type="ros_receiver" name="traversability" output="screen">
      <remap from="/visual/pointcloud" to="/ema_pc/points" />
      <param name="load_path" value="$(find trav_analysis_2)/models/results00" />
  </node> -->

</launch>
